<% content_for :contenedor_izq_admin do %>
    <div id='usuario_config_anuncios'></div>
    <div id='usuario_config'></div>

    <%= informa_estado_de_contrasena %>
    
    <div id="modelo_barras_admin">
        <%= render :partial => "modelo_barras" %>
    </div>
<% end %>

<% content_for :contenedor_der_admin do %>
    <div id="migracion" class="bloque">
            <h4>Migración de Base de Datos</h4>
            <script language="JavaScript" type="text/javascript">
                <!--
                function validate(id){
                    valid = true;
                    
                    if ( $(id).value == "" )
                    {
                        alert('Debes seleccionar un archivo que cargar');
                        valid = false;
                    }

                    return valid;
                }
                //-->
            </script>
            <div>
                <% form_tag 'administraciones/entrada_rb',
                              :multipart => true, 
                              :target => 'upload_frame',
                              :onsubmit => "$('a_4').show(); Nifty('div.mensaje_barra')"  do -%>
                    <table>
                        <tr>
                            <td><b>Restaurar Copía de seguridad: </b></td>   
                       
                            <td><%= file_field_tag "zipo" -%></td>
                            <td><%= submit_tag 'Cargar', :onclick => "return validate('zipo');" -%></td>
                        </tr>
                    </table>
                <% end %>
                <iframe id='upload_frame' name="upload_frame"
                style="width:1px;height:1px;
                       border:0px" src="about:blank"></iframe>
            </div>
            
             <div>
                <% form_tag :action => :salida_rb do -%>
                    <table>
                        <tr>
                            <td><b>Copía de Seguridad: </b></td>
                            <td><%= submit_tag 'Descargar' -%></td>
                        </tr>
                    </table>
                <% end -%>
            </div>
            
            <div>
            <% form_tag :action => :salida_csv do -%>
                <table>
                    <tr>
                        <td><b>Obtener csv: </b></td>
                        <td><%= submit_tag 'Descargar' -%></td>
                    </tr>
                </table>
            <% end -%>
            </div>
           
            
            <div>
              <table>
                <tr>
                    <td><b>Base de Datos:</b></td>
                    <% complete = "Nifty('div.mensaje_barra'); $('a_1').show(); $('a_2').hide()" %>
                    <td><%= button_to_remote "Borrar", :url => {:action => "limpia_bd"}, 
                                                       :confirm => "¿Desea borrar la base de datos de la aplicación?", 
                                                       :update => "modelo_barras_admin",
                                                       :loading => "Nifty('div.mensaje_barra'); $('a_2').show()", 
                                                       :complete => complete  %></td>
                </tr>
              </table>
            </div>
    </div>
    <br/>
    <div id="logger" class="bloque">
        <p>Ir a <%= link_to "Sección de Logs de la aplicación", logs_path %></p>
    </div>
<% end %>

<% content_for :anuncios_cambiantes do %>
    <div class="anuncio">
        <div id="a_1"  style="display:none;" onclick="$(this).fade()">
          <div style="display:inline-block;" class="mensaje_barra"><h3>Limpieza finalizada.</h3></div>
        </div>
        <div id="a_2"  style="display:none;">
            <%= image_tag "spinner2-black.gif", :class => "spinner" %>
            <div style="display:inline-block;" class="mensaje_barra"><h3>Borrando datos...</h3></div>
        </div>
        <div id="a_3" style="display:none;" onclick="$(this).fade()">
            <div style="display:inline-block;" class="mensaje_barra"><h3>Restauración finalizada.</h3></div>
        </div>
        <div id="a_4" style="display:none;" onclick="$(this).fade()">
            <%= image_tag "spinner2-black.gif", :class => "spinner" %>
            <div style="display:inline-block;" class="mensaje_barra"><h3>Restaurando datos...</h3></div>
        </div>
    </div>
<% end %>