<h3 class='container_title' id='related_object_title'>Relacionado</h3>
<div class='related_object_container' >
    <h4>Paquete</h4>
    
    <p><i>Nombre: </i><%=h @paquete.nombre %></p>
    <% @paquete.incorporados.each do |inc| %>
        <div class='inner_related_object'>
            <p><i>Concepto: </i><%= inc.concepto %></p>
            <p><i>Categoria: </i><%= inc.categoria %></p>
            <p><i>Detalles del servicio: </i><%= inc.detalles_del_servicio %></p>
            
            <p><i>Costo: </i><%= inc.costo_ %></p>
            <p><i>Detalles dentro de paquete: </i><% inc.detalles_en_paquete %></p>  
        </div>
    <% end %>
    <div class='related_object_links'>
        <%= link_to "Atrás", :back %>
    </div>
</div>