<div class='form_links_back'>
    <p><%= link_to "Atrás", :back %></p>
</div>

<% if logged_in_on? "nivel 1" %>
<div class='form_links_container' id='large'>
    <p class='inlined' id='regresar'>Ver:</p>
    <p class='inlined'><%= link_to 'Modificar', eval("edit_#{modelo}_path(obj_modificable)") %></p>
    <p class='inlined'><%= link_to genero_de(modelo, "Todo").pluralize, eval("#{modelo.pluralize}_path") %></p>
    <p class='inlined'><%= render :partial => 'compartidos/link_to_admin' %></p>
<% elsif logged_in_on? "nivel 2" %>
<div class='form_links_container' id='small'>
    <p class='inlined' id='regresar'>Ver:</p>
    <p class='inlined'><%= link_to 'Modificar', eval("edit_#{modelo}_path(obj_modificable)") %></p>
<% end %>
</div>