
<h3 class='admin_modelo_titulo'><%= modelo.capitalize.pluralize %></h3>
<div class='container_admin'>
    <div class='form'>
          <% if @objetos.empty? %>
            <h2>No hay <%= modelo.pluralize %> disponibles aún</h2><br/>
            <h2>Crear 
                <%= link_to_remote  genero_de(modelo, "nuevo"), :url => {:controller => modelo.pluralize, :action => 'new'} %>  
                ó
                <%= link_to_remote "cerrar", :url => {:controller => 'administraciones', :action => 'restaura_modelo_barra'},
                                                       :with => "'modelo=#{modelo}'" %>
            </h2>
          <% else %>
          <% atributos = modelo.capitalize.constantize.atributos %>
          <% width = 900/(atributos.size+1) %>
          <table class="generica">
            <tr>
            <% atributos.each do |atributo| %>
              <th style="width:<%=width%>px;"><%= atributo.humanize %></th>
            <% end %>
              <th style="width:<%=width%>px;"></th>
            </tr>  
          </table>
          <br/>
            <% @objetos.each do |objeto| %>  
                <table class="generica">
                  <tr id="<%= "#{modelo}_#{objeto.id}" %>">
                    <% atributos.each do |atributo| %>
                        <td style="width:<%=width%>px;">
                            <% if modelo.capitalize.constantize.es_evaluable(atributo) %>
                                <%= eval objeto.send(atributo) %>
                            <% else %>
                                <%= objeto.send(atributo) %>
                            <% end %>
                        </td style="width:<%=width%>px;">
                    <% end %>
                	<td style="width:<%=width%>px;">
                      <%= button_to_remote "Borrar", :url => {:controller => modelo.pluralize, :action => "destroy",
                                                              :id => objeto}, :method => :delete,  
                                                              :confirm => "¿Borrar #{genero_de(modelo, "éste")} #{modelo}?" %>
                      <%= button_to_remote "Editar", :url => {:controller => modelo.pluralize, :action => "edit",
                                                              :id => objeto}, :method => :get %>
                    </td>
                      
                  </tr>
                </table> 
                
                <div id="<%= "#{modelo}_show_#{objeto.id}" %>"> </div>
            <% end %>
             
          <p>
            <%= link_to_remote "Cerrar", :url => {:controller => 'administraciones', :action => 'restaura_modelo_barra'},
                                         :with => "'modelo=#{modelo}'" %>
          </p>
          <% end %>
    </div>
</div>

