<p>
   <label>Captura de conceptos</label> 
</p>

<table width="900px">
    <tr>
    <th>Concepto</th>
    <th>Disponible</th>
    <th>Costo</th>
    <th>Valor</th>
    <th>Comentarios</th>
    </tr>
        <% @servicio.conceptos.each do |concepto| %>
            <tr>                
              <% fields_for "conceptos[#{concepto.id}]", concepto do |f| %>
                <td><%= concepto.metaconcepto_asociado.nombre %></td>
                <td><%= f.check_box :disponible %></td>
                
                <% if concepto.metaconcepto_asociado.tipo.eql?("A") %>
                    <td><%= f.text_field :costo, :size => 3 %> pesos</td>
                    <td>-</td>
                <% elsif concepto.metaconcepto_asociado.tipo.eql?("B") %>
                    <td>-</td>
                    <td><%= f.text_field :valor, :size => 3 %></td>
                <% end %>
                <td><%= f.text_area :comentarios, :cols => 25, :rows => 2 %></td>  
                <%= f.hidden_field :metaconcepto_id, :value => concepto.metaconcepto_asociado.id %>  
              <% end %>
            </tr>
        <% end %>
</table>