
<% @servicios.each do |servicio| %>
<% if @bs.eql?(1) %>
    <table class="agente_servicios">
        <tr>
            <td style="background-color:#1C1B3D; color:#F5A325;"><b><%= servicio.plaza.nombre %></b></td>
        </tr>
    </table>
<% end %>
    <table class="agente_servicios">
    <tr>
        <% Servicio.atributos_agente.each do |atributo| %>
            <% if Servicio.es_evaluable(atributo) %>
                <td><%=h eval servicio.send(atributo) -%></td>
            <% else %>
                <td><%=h servicio.send(atributo) -%></td>
            <% end %>
        <% end %>
    </tr>
    </table>
    <table width="1200">
        <tr>
            <td width="50%">
            <div class="contenedor_servicios_conceptos">
    
                <table class="agente_servicios_conceptos">
                    <thead>
                        <tr>
                            <th width="60%">Concepto</th>
                            <th width="20%">Costo</th>
                            <th width="20%">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% servicio.conceptos_asociados_en_orden.each do |c| %>
                            <% unless c.no_disponible? %>
                                <tr class="servicio_distingible" onmouseover="<%= remote_function(:update => 'comentarios', 
                                                                                  :url => {:controller => 'tableros', :action => 'muestra_comentario',
                                                                                  :id => c.id}) %>">
                                    <td style="padding-left: 10px; text-align:left;"><%=h c.metaconcepto.nombre %></td>
                                    <td><%=h c.costo_ %></td>
                                    <td><%=h c.valor_ %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
            </td>
            <td width="50%">
                <div id="comentarios">
                </div>
            </td>
        </tr>
    </table>
<% end %>