
<% @servicios.each do |servicio| %>
<div class='agente_servicios'>
    <% if @bs.eql?(1) %>
            <p>
               <span class='p'><%= servicio.plaza.nombre %></span>   
               <span class='t'><%= servicio.tipo_de_servicio %></span>  
               <span class='n'><%= servicio.nombre_del_servicio %></span>
            </p>
    <% else %>
            <p>
               <span class='t'><%= servicio.tipo_de_servicio %></span>  
               <span class='n'><%= servicio.nombre_del_servicio %></span>
            </p>
    <% end %>
</div>


    <div class="contenedor_servicios_conceptos">
        <% servicio.conceptos_asociados_en_orden.each_with_index do |concepto, index| %>
            <% unless concepto.no_disponible? %>
                <% if index.even? %>
                    <div class='n' id='agente_servicios_conceptos'>
                <% else %>
                    <div class='s' id='agente_servicios_conceptos'>
                <% end %>
                    <div onmouseover="<%= "$('concepto_#{concepto.id}').appear()" %>">
                        <table class='concepto_tabla'>
                            <tr>
                                <td class='nombre_metaconcepto'><%= concepto.metaconcepto.nombre %></td>
                                <% if concepto.costo_.eql?("-") %>
                                    <td class='cantidad_numerica'><%= concepto.valor_ %></td>
                                <% elsif concepto.valor_.eql?("-") %>
                                    <td class='valor_numerico'><%= concepto.costo_ %></td>
                                <% end %>
                            </tr>
                        </table>
                         <div id='<%= "concepto_#{concepto.id}" %>' style="display: none;" 
                              class='comentario_container_concepto'>
                                <% unless concepto.comentarios.blank? %>
                                <p class='concepto_comentario'>
                                    <%= concepto.comentarios %> 
                                </p> 
                                <p class='concepto_comentario'>
                                    <%= link_to_function "Ocultar Comentario", "$('concepto_#{concepto.id}').fade()" %>
                                </p>
                                <% end %>
                            </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
<% end %>