
<% @servicios.each do |servicio| %>
    <div class='agente_servicios'>
        <% if @bs.eql?(1) %>
                <p>
                   <span class='p'><%= servicio.plaza.nombre %></span>   
                   <span class='t'><%= servicio.tipo_de_servicio %></span>  
                   <span class='n'><%= servicio.nombre_del_servicio %></span>
                </p>
        <% else %>
                <p>
                   <span class='t'><%= servicio.tipo_de_servicio %></span>  
                   <span class='n'><%= servicio.nombre_del_servicio %></span>
                </p>
        <% end %>
    </div>


    <div class="contenedor_servicios_conceptos">
        <table class='concepto_tabla'>
            <tr>
                <th class='nombre_metaconcepto'>Nombre</th>
                <th class='cantidad_numerica'>Cantidad</th>
                <th class='valor_numerico'>Costo</th>
            </tr>
        </table>
        <% servicio.conceptos_asociados_en_orden.each_with_index do |concepto, index| %>
            <% unless concepto.no_disponible? %>
                <% if index.even? %>
                    <div class='n' id='agente_servicios_conceptos'>
                <% else %>
                    <div class='s' id='agente_servicios_conceptos'>
                <% end %>
                    <div>
                        <table class='concepto_tabla'>
                            <tr>
                                <td class='nombre_metaconcepto'>
                                    <p class='concepto_comentario'>
                                        <%= concepto.metaconcepto.nombre %> 
                                        <% unless concepto.comentarios.blank? %>
                                        <%= link_to_function "Ver Comentario", 
                                            "$('concepto_#{concepto.id}').appear(); $('#{concepto.id}_ver_link').fade()", 
                                            :id => "#{concepto.id}_ver_link" %>
                                        <% end %>
                                    </p>
                                </td>
                                <td class='cantidad_numerica'><%= concepto.valor_ %></td>
                                <td class='valor_numerico'><%= concepto.costo_ %></td>
                            </tr>
                        </table>
                         <div id='<%= "concepto_#{concepto.id}" %>' style="display: none;" 
                              class='comentario_container_concepto'>
                                <% unless concepto.comentarios.blank? %>
                                <p class='concepto_comentario'>
                                    <%= concepto.comentarios %> 
                                </p> 
                                <p class='concepto_comentario'>
                                    <%= link_to_function "Ocultar Comentario", 
                                        "$('concepto_#{concepto.id}').fade(); $('#{concepto.id}_ver_link').appear()", 
                                        :id => "#{concepto.id}_oculta_link" %>
                                </p>
                                <% end %>
                            </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
<% end %>