
<% @servicios.each do |servicio| %>
<% if @bs.eql?(1) %>
    <table class="agente_servicios">
        <tr>
            <td style="background-color:#1C1B3D; color:#F5A325;"><b><%= servicio.plaza.nombre %></b></td>
        </tr>
    </table>
<% end %>
    <table class="agente_servicios">
    <tr>
        <% Servicio.atributos_agente.each do |atributo| %>
            <% if Servicio.es_evaluable(atributo) %>
                <td><%=h eval servicio.send(atributo) -%></td>
            <% else %>
                <td><%=h servicio.send(atributo) -%></td>
            <% end %>
        <% end %>
    </tr>
    </table>
    <div class="contenedor_servicios_conceptos">
        <table class='agente_servicios_conceptos'>
            <tr>
                <th class='nombre'>Nombre</th>
                <th>Valor</th>
                <th>Costo</th>
            </tr>
        </table>
        <% servicio.conceptos_asociados_en_orden.each_with_index do |concepto, index| %>
            <% unless concepto.no_disponible? %>
                <% if index.odd? %>
                    <div>
                <% else %>
                    <div class='s'>
                <% end %>
                <table class='agente_servicios_conceptos'>
                    <tr>
                        <td class='nombre'><%= concepto.metaconcepto.nombre %></td>
                        <td><%= concepto.valor_ %></td>
                        <td><%= concepto.costo_ %></td>
                    </tr>
                </table>
                <p><%= concepto.comentarios %></p></div>
            <% end %>
        <% end %>
    </div>
<% end %>