<h3 class='container_title' id='form_title'>Modificar</h3>
<div class='form_container'>

<div class='form'>
<% form_for(@servicio) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'compartidos/form_reuse', :locals => {:obj => @servicio, :f => f} %>

  <p>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>

</div>


<div class='form_links_container'>
    <p class='inlined' id='regresar'>Regresar a:</p>
    <p class='inlined'><%= link_to 'Servicios', servicios_path %></p>
    <p class='inlined'><%= link_to 'Servicio', @servicio %></p>
    <p class='inlined'><%= render :partial => 'compartidos/link_to_admin' %></p>
</div>
</div>
