
<p>
  <%= f.label :nombre %><br />
  <%= f.text_field :nombre %>
</p>

<%= render :partial => 'load_usuarios_in_session' %>


<% if logged_in_on?("nivel 1") %>
    <%= f.label :estado %> <br />
    <%= f.select :estado_id, lista_hash_objetos_de_modelo("estado") %>
    
    <p>Usuarios</p>
    <div id='listado_usuarios_plaza_form_contenedor'>
        <%= render :partial => 'listado_usuarios_plaza_form' %>
    </div>
<% end %>

<p>Paquetes</p>

<div id='listado_paquetes_plaza_form_contenedor'>
    <%= render :partial => 'listado_paquetes_plaza_form' %>
</div>


<%= render :partial => 'load_especializados_in_session' %>

<p>Servicios especializables a Plaza</p>
<% @categorias.each do |categoria| %>
    <%= link_to_remote categoria.nombre, {:url => {:action => :listado_de_servicios, :id => categoria.id}, :update => :listado_especializados_plaza_form_contenedor, :with => "'plaza='+'#{@plaza.id}'"}, :class => 'categoria_form' %>
<% end %>

<div id='listado_especializados_plaza_form_contenedor' class='margen_a_doce'></div>


