<% if instance_variable_get("@estado") %>
    <h3 class='container_title' id='related_object_title'>Relacionado</h3>
    <div class='related_object_container' >
        <h4>Estado</h4>
        
        <p><i>Nombre: </i><%=h @estado.nombre %></p>
        
        <div class='related_object_links'>
            <%= link_to "Atrás", :back %>
        </div>
    </div>
<% elsif instance_variable_get("@especializado") %>
    <%= render :partial => 'compartidos/anterior_fue_especializado', :locals => {:especializado => @especializado} %>
<% elsif instance_variable_get("@servicio") %>
    <%= render :partial => 'compartidos/anterior_fue_servicio', :locals => {:servicio => @servicio} %>
<% elsif instance_variable_get("@paquete") %>
    <%= render :partial => 'compartidos/anterior_fue_paquete', :locals => {:paquete => @paquete} %>
<% end %>

<% c, modelo_plural_o_singular = modelo_info("Plaza", @plazas.length) %>

<h3 id='listing_title_for_table' class='container_title'><%= modelo_plural_o_singular %></h3>
<br>
<table>
  <tr>
    <th class='attribute_name_table' id='a_name1'>Nombre</th>
  </tr>
  
<% @plazas.each do |plaza| %>
  <tr>
    <td class='attribute_value_table' id='a_value1'>
        <div><%=h plaza.nombre %></div> 
        <p> <%= link_to "Estado", :controller => :estados, :action => :some, :id => plaza, :tipo => "Plaza" %></p>
        <p> <%= link_to "Paquetes", :controller => :paquetes, :action => :some, :id => plaza, :tipo => "Plaza" %></p>
        <p> <%= link_to "Servicios", :controller => :servicios, :action => :some, :id => plaza, :tipo => "Plaza" %></p>
        <p> 
            <%= link_to "Especializados", :controller => :especializados, :action => :some, :id => plaza, :tipo => "Plaza" %>
        </p>
    </td>
    <td><%= button_to 'Mostrar', plaza, :method => :get %></td>
    <td><%= button_to 'Modificar', edit_plaza_path(plaza), :method => :get %></td>
    <td><%= button_to 'Eliminar', plaza, :confirm => '¿Eliminar registro?', :method => :delete %></td>
  </tr>
  
<% end %>
</table>

<%= will_paginate @plazas, :prev_label => "Anterior", :next_label => "Siguiente" %>

<%= button_to 'Nueva plaza', new_plaza_path, :method => :post %>