<%= f.label :Servicio %><br />
<p>
<%= f.select :servicio_id, lista_hash_objetos_de_modelo("servicio") %>
</p>


  <br/><%= f.label :costo, "Costo (en pesos)" %><br />
<p> <%= f.text_field :costo, :size => 5 %></p>

    <br/>
  <%= f.label :detalles %><br />
<p>
  <%= f.text_area :detalles, :cols => 50, :rows => 5 %>
</p>

    <br/>
  <%= f.label :vigente_desde %><br />
<p>
  <%= date_select "incorporado", "vigente_desde", :include_blank => true, 
                                                  :start_year => Date.today.years_ago(1).year,
                                                  :order => [:year, :month, :day] %>
</p>

    <br/>
  <%= f.label :vigente_hasta %><br />
<p>
  <%= date_select "incorporado", "vigente_hasta", :include_blank => true, 
                                                  :start_year => Date.today.years_ago(1).year,
                                                  :order => [:year, :month, :day] %>
</p>