<% if @paquetes.empty? %>
    <%= javascript_tag "Nifty('#paquete');" %> 
    <div class="empty" id="paquete"><p>No hay paquetes que mostrar</p></div>
<% else %>
    <table class="agente_paquetes_o_coberturas">
        <thead>
            <tr>
                <% if @bs.eql?(1) %>
                    <th style="color:#646AD0;">Plaza</th>
                <% end %>
                <th>Zona</th>
                <th>Tipo de Paquete</th>
                <th style="width:500px">Televisión</th>
                <th style="width:500px">Telefonía</th>
                <th>Internet</th>
                <th>Costo por paquete (pagando 1 - 10)</th>
                <th>Costo Real</th>
                <th>Ahorro</th>
                <th>Costo por paquete (pagando 11 - día último)</th>
            </tr>
        <thead>
        <tbody>    
        <% @paquetes.each do |paquete| %>
            <tr class="paquete_o_cobertura_distingible">
                <% if @bs.eql?(1) %>
                    <td style="color:#646AD0;"><%= paquete.plaza.nombre %></td>
                <% end %>
                <td><%= paquete.zona_ %></td>
                <td><%= paquete.tipo_de_paquete %></td>
                <td><%= paquete.television %></td>
                <td><%= paquete.telefonia %></td>
                <td><%= paquete.internet %></td>
                <td><%= paquete.costo_primer_mitad_de_mes %></td>
                <td><%= paquete.costo_real_ %></td>
                <td><%= paquete.ahorro_ %></td>
                <td><%= paquete.costo_segunda_mitad_de_mes %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>