<% @incorporados.each do |incorporado| %>
    <% estado_seleccion = existe_en_sesion(:incorporados_paquete, incorporado.id) %>
    <div class='form_opcion'>
        <%= check_box_tag "incorporado", incorporado.id,  estado_seleccion, 
                                     :onchange => remote_function( 
                                     :url => {:action => 'objetos_a_sesion', :id => incorporado.id}, 
                                     :with => "'seleccion='+'#{estado_seleccion}'+'&sesion='+'incorporados_paquete'") %> 
        <%  estado_asignacion= incorporado.paquete.nil? ? "<i>(Libre)</i>" : "<i>(Asignado)</i>" %>
        <%= incorporado.servicio.categoria.nombre %></b>::<%= incorporado.servicio.concepto.nombre %> <br/>
        <%= incorporado.costo_ %>
        <br/>
    </div>
<% end %>

<%= will_paginate @incorporados, :renderer => 'RemoteLinkRenderer', 
                             :remote => {:with => "'partial='+'listado_incorporados_paquete_form'+'&paquete='+'#{@paquete.id}'",
                                         :update => 'listado_incorporados_paquete_form_contenedor'}, 
                             :previous_label => ':.', :next_label => '.:', :class => 'pagination_form', :id => 'small' %>