<h3 class='container_title' id='form_title'>Modificar</h3>
<div class='form_container'>
    
<div class='form'>

<% form_for(@paquete) do |f| %>
  <%= f.error_messages %>
   
  <p>
    <%= label :paquete, :nombre %><br />
    <%= text_field :paquete, :nombre %>
  </p>
  
  <p>Servicios Incorporables</p>
  <%= genera_checkboxes_para "incorporado", @paquete %>


  <p>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>

</div>

<%= render :partial => 'compartidos/edita_form_links', :locals => {:obj_editable => @paquete, :modelo => "paquete" } %>

</div>