<% if instance_variable_get("@plaza") %>
    <h3 class='container_title' id='related_object_title'>Relacionado</h3>
    <div class='related_object_container' >
        <h4>Plaza</h4>
        
        <p><i>Nombre: </i><%=h @plaza.nombre %></p>
        
        <div class='related_object_links'>
            <%= link_to "Atrás", plazas_path %>
        </div>
    </div>
<% elsif instance_variable_get("@servicio") %>
    <h3 class='container_title' id='related_object_title'>Relacionado</h3>
    <div class='related_object_container' >
        <h4>Servicio</h4>
        
        <p><i>Concepto de Servicio: </i><%= @servicio.con_concepto %></p>
        <p><i>Costo sin Promoción: </i><%= @servicio.costo_sin_la_promocion %></p>
        <p><i>Costo con Promoción: </i><%= @servicio.costo_con_la_promocion %></p>
        <p><i>Detalles de la promoción </i><%= @servicio.detalles_de_la_promocion %></p>
        <p><i>Duración de la promoción </i><%= @servicio.duracion_de_la_promocion %></p>
        
        <div class='related_object_links'>
            <%= link_to "Atrás", servicios_path %>
        </div>
    </div>
<% end %>

<h3 id='listing_title_for_table' class='container_title'>Paquetes</h3>
<br>
<table>
  <tr>
    <th class='attribute_name_table' id='a_name2'>Nombre</th>    
  </tr>
  
<% @paquetes.each do |paquete| %>
  <tr>
    <td class='attribute_value_table' id='a_value1'>
        <div><%=h paquete.nombre %></div> 
        <p> <%= link_to "Plazas", :controller => :plazas, :action => :some, :id => paquete, :tipo => "Paquete" %></p>
        <p> <%= link_to "Servicios", :controller => :servicios, :action => :some, :id => paquete, :tipo => "Paquete" %></p>
    </td>    
    
    <td><%= button_to 'Mostrar', paquete, :method => :get %></td>
    <td><%= if_es_admin do button_to 'Modificar', edit_paquete_path(paquete), :method => :get  end %></td>
    <td><%= if_es_admin do button_to 'Eliminar', paquete, :confirm => '¿Eliminar registro?', :method => :delete end %></td>
  </tr>
  
<% end %>
</table>

<%= will_paginate @paquetes, :prev_label => "Anterior", :next_label => "Siguiente" %>


<%= if_es_admin do button_to 'Nueva presentación', new_paquete_path, :method => :post end %>