<h3 class='container_title' id='form_title'>Nuevo</h3>
<div class='form_container'>
    
<div class='form'>

<% form_for(@paquete) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= label :paquete, :nombre %><br />
    <%= text_field :paquete, :nombre %>
  </p>
  
  <p>Servicios asignables a Paquete</p>
  <%= genera_checkboxes_para "incorporado", @paquete %>

  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>
</div>

<%= render :partial => 'compartidos/nuevo_form_links', :locals => {:modelo => "paquete"} %>

</div>