<% javascript_tag do %>
    Nifty('#resultados');
<% end %>
 
<div id="resultados">
    <% @resultados.each_key do |key| %>
        <% if key.eql?("Estado") %>
            <% @estados = @resultados.delete(key) %>
            <% unless @estados.empty? %>

                        <% if @estados.size == 1 %>
                            <h3>Estado</h3>
                        <% else %>
                            <h3>Estados</h3>
                        <% end %>
                        <% @estados.each do |estado| %>
                            <%= estado.nombre %>
                        <% end %>
            <% end %>
        <% elsif key.eql?("Plaza") %>
            <% @plazas = @resultados.delete(key) %>
            <% unless @plazas.empty? %>
             
                        <% if @plazas.size == 1 %>
                            <h3>Plaza</h3>
                        <% else %>
                            <h3>Plazas</h3>
                        <% end %>
                        <% @plazas.each do |plaza| %>
                            <%= plaza.nombre %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% elsif key.eql?("Paquete") %>
            <% @paquetes = @resultados.delete(key) %>
            <% unless @paquetes.empty? %>
            
               
                    <% if @paquetes.size == 1 %>
                        <h3>Paquete</h3>
                    <% else %>
                        <h3>Paquetes</h3>
                    <% end %>
              
            <% @bs = 1 %>
            <%= render :partial => "paquetes/listing_paquetes", :object => [@paquetes, @bs] %>
            <br/>    
            <% end %>
        <% elsif key.eql?("Servicio") %>
            <% @servicios = @resultados.delete(key) %>
            <% unless @servicios.empty? %>
                    <% if @servicios.size == 1 %>
                        <h3>Servicio</h3>
                    <% else %>
                        <h3>Servicios</h3>
                    <% end %>
            <% @bs = 1 %>
            <%= render :partial => "servicios/listing_servicios", :object => [@servicios, @bs] %>
            <% end %>
        <% end %>        
    <% end %>
        
    <% cuenta = @servicios.size + @estados.size + @paquetes.size + @plazas.size %>
    <% if cuenta == 1 %>
        Encontrado <b>1 resultado</b> que contiene <i><%=h @cosa_a_buscar %></i>
    <% else %>
        Encontrados <b><%= cuenta %> resultados</b> que contienen <i><%=h @cosa_a_buscar %></i>
    <% end %>
</div>
