<% javascript_tag do %>
    Nifty('#resultados');
    Nifty('#cuenta_resultados');
<% end %>
 
 
<div id="resultados_contenedor">
    <div id="resultados" class="inlined"><h3>Resultados de Búsqueda</h3></div>
    <%= image_tag "delete.png", :onclick => "$('resultados_contenedor').fade()", :class=> 'inlined', 
                                :style => "position:absolute; top: 120px; right: 40px;" %>
    <br/>
    <br/>
    <% @resultados.each_key do |key| %>
        <% if key.eql?("Estado") %>
            <% @estados = @resultados.delete(key) %>
            <% unless @estados.empty? %>
                    <%= javascript_tag "Nifty('#estado');" %>
                    <div id="estado" class="resultado">
                        <div>
                            <% if @estados.size == 1 %>
                                <h4>Estado</h4>
                            <% else %>
                                <h4>Estados</h4>
                            <% end %>
                        </div>
                        <ul>
                        <% @estados.each do |estado| %>
                            <li><%= estado.nombre %></li>
                        <% end %>
                        </ul>
                    </div>
            <% end %>
        <% elsif key.eql?("Plaza") %>
            <% @plazas = @resultados.delete(key) %>
            <% unless @plazas.empty? %>
                    <%= javascript_tag "Nifty('#plaza');" %>
                    <div id="plaza" class="resultado">
                        <div>
                            <% if @plazas.size == 1 %>
                                <h4>Plaza</h4>
                            <% else %>
                                <h4>Plazas</h4>
                            <% end %>
                        </div>
                        <ul>
                            <% @plazas.each do |plaza| %>
                                <li><%= plaza.nombre %></li>
                            <% end %>
                        </ul>
                    </div>
            <% end %>
        <% elsif key.eql?("Paquete") %>
            <% @paquetes = @resultados.delete(key) %>
            <% unless @paquetes.empty? %>
                    <%= javascript_tag "Nifty('#paquete');" %>
                    <div id="paquete" class="resultado">
                    <% if @paquetes.size == 1 %>
                        <h4>Paquete</h4>
                    <% else %>
                        <h4>Paquetes</h4>
                    <% end %>
                    </div>
              
            <% @bs = 1 %>
            <%= render :partial => "paquetes/listing_paquetes" %>
            <br/>    
            <% end %>
        <% elsif key.eql?("Servicio") %>
            <% @servicios = @resultados.delete(key) %>
            <% unless @servicios.empty? %>
                    <%= javascript_tag "Nifty('#servicio');" %>
                    <div id="servicio" class="resultado">
                    <% if @servicios.size == 1 %>
                        <h4>Servicio</h4>
                    <% else %>
                        <h4>Servicios</h4>
                    <% end %>
                    </div>
            <% @bs = 1 %>
            <%= render :partial => "servicios/listing_servicios" %>
            <% end %>
        <% end %>        
    <% end %>
        
    <% cuenta = @servicios.size + @estados.size + @paquetes.size + @plazas.size %>
    <br/>
    <div id="cuenta_resultados">
        <% if cuenta == 1 %>
            Encontrado <b>1 resultado</b> que contiene <i><%=h @cosa_a_buscar %></i>
        <% else %>
            Encontrados <b><%= cuenta %> resultados</b> que contienen <i><%=h @cosa_a_buscar %></i>
        <% end %>
    </div>
</div>
