
<div class='form'>
    <% form_tag sesiones_path do -%>
        <p><%= label_tag 'login' %><br />
        <%= text_field_tag 'login', nil, :class => "text" %></p>

        <p><%= label_tag 'password', 'Contraseña' %><br/>
        <%= password_field_tag 'password', nil, :class => "text" %></p>

        <p><%= submit_tag 'Iniciar Sesión' %></p>
    <% end -%>
</div>

<%= image_tag("urvy.png", :size => "150x150", :style => "position:absolute; top: 50px; right: 460px;") %>

<% content_for 'rightH' do %>
    <p>&nbsp;</p>
<% end %>


