<h1>New <%= @objmodelo.class.to_s %></h1>

<% form_for(@objmodelo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  
  <%= genera_atributos_faltantes_forma_para(@objmodelo, f) %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<%= link_to 'Back', generalizados_path(@objmodelo) %>