<%= f.label :Servicio %><br />
<p>
<%= f.select :servicio_id, lista_hash_objetos_de_modelo("servicio") %>
</p>

<br/><%= f.label :costo, "Costo (en pesos)" %><br />

<p>
   <%= f.text_field :costo, :size => 5 %>
</p>

  <br/><%= f.label :estado_del_servicio %>
<p>
  <%= f.radio_button(:activo, true) %> Activo
  <%= f.radio_button(:activo, false)%> No Activo
</p>