<div id="errores_cobertura" class="errorExplanation" style="display:none"></div>

<%= f.hidden_field :plaza_id, :value => plaza.id %>

<p>
  <%= f.label :nombre %><br />
  <%= f.text_field :nombre -%>
</p>

<p>
  <%= f.label :numero_de_nodo %><br />
  <%= f.text_field :numero_de_nodo, :size => 10 -%>
</p>

<p>
  <%= f.label :colonia %><br />
  <%= f.text_field :colonia -%>
</p>

<p>
  <%= f.label :calle %><br />
  <%= f.text_field :calle -%>
</p>