<%= javascript_tag "Nifty('#detalles_usuario');" %>

<div id="detalles_usuario">

<h4>Modificaci칩n informaci칩n de usuario</h4>
    
<div class='form'>
    <div id="errores_usuario" class="errorExplanation" style="display:none"></div>
    
    <% form_remote_for(:usuario, @usuario, :url => usuario_path(@usuario), :html => {:method => :put}) do |f| -%>

    <%= f.hidden_field :config_usuario, :value => true %>
    
    <p><%= label_tag 'email' %><br/>
    <%= f.text_field :email %></p>

    <p><%= label_tag 'password', 'Contrase침a' %><br/>
    <%= f.password_field :password %></p>

    <p><%= label_tag 'password_confirmation', 'Confirma Contrase침a' %><br/>
    <%= f.password_field :password_confirmation %></p>

    <p><%= submit_tag 'Actualizar' %> | <b><%= link_to_remote "Cerrar" , '', :onClick => "$('detalles').fade();" %></b></p>
    <% end %>

</div>
</div>

