<h3 class='admin_modelo_titulo'>Usuario</h3>
<div class='container_admin'>
    
<div class='form'>
    <div id="errores_usuario" class="errorExplanation" style="display:none"></div>
    
<% form_remote_for(:usuario, @usuario, :url => usuario_path(@usuario), :html => {:method => :put}) do |f| -%>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'password', 'Contraseña' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirma Contraseña' %><br/>
<%= f.password_field :password_confirmation %></p>

    <p><%= submit_tag 'Actualizar' %> | <%= link_to_remote "Cerrar", 
                                          :url => {:controller => 'administraciones', :action => 'restaura_modelo_barra'},
                                          :with => "'modelo=#{modelo}'" %></p>
<% end %>

</div>