<% if instance_variable_get("@rol") %>
    <h3 class='container_title' id='related_object_title'>Relacionado</h3>
    <div class='related_object_container' >
        <h3>Rol</h3>
        
        <p><i>Nombre: </i><%= @rol.nombre %></p>
        <div class='related_object_links'>
            <%= link_to "Atrás", servicios_path %>
        </div>
    </div>
<% end %>

<h3 id='listing_title_for_table' class='container_title'>Usuarios</h3>
<br>
<table>
  <tr>
    <th class='attribute_name_table' id='a_name1'>Nombre</th>
    <th class='attribute_name_table' id='a_name2'>Login</th>
    <th class='attribute_name_table' id='a_name1'>Email</th>
    <th class='attribute_name_table' id='a_name2'>Asignado a</th>
  </tr>
  
<% @usuarios.each do |usuario| %>
  <tr>
    <td class='attribute_value_table' id='a_value1'>
        <div><%=h usuario.nombre %></div>
    </td>
    <td class='attribute_value_table' id='a_value2'>
        <div><%=h usuario.login %></div>
    </td>
    <td class='attribute_value_table' id='a_value1'>
        <div><%=h usuario.email %></div>
    </td>
    <td class='attribute_value_table' id='a_value2'>
        <div><%=h usuario.detalles_responsabilidad %></div>
    </td>
    <td><%= button_to 'Mostrar', usuario, :method => :get %></td>
    <td><%= if_es_admin do button_to 'Modificar', edit_usuario_path(usuario), :method => :get  end %></td>
    <td><%= if_es_admin do button_to 'Eliminar', usuario, :confirm => '¿Eliminar registro?', :method => :delete end %></td>
  </tr>
  
<% end %>
</table>
<%= will_paginate @usuarios, :prev_label => "Anterior", :next_label => "Siguiente" %>

<%= if_es_admin do button_to 'Nuevo usuario', new_usuario_path, :method => :post end %>