<h3 class='container_title' id='form_title'>Nuevo</h3>
<div class='form_container'>

<% @usuario.password = @usuario.password_confirmation = nil %>
<div class='form'>
<%= error_messages_for :usuario %>
<% form_for(@usuario) do |f| -%>

<p><%= label_tag 'nombre' %><br/>
<%= f.text_field :nombre %></p>

<p><%= label_tag 'login' %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'password', 'Contraseña' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirma Contraseña' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= label_tag 'rol' %><br/>
<%= f.select :rol_id, lista_hash_objetos_de_modelo("rol") %>

<p><%= submit_tag 'Registrar' %></p>
<% end -%>
</div>
<div class='form_links_container'>
    <p class='inlined' id='regresar'>Regresar a:</p>
    <p class='inlined'><%= render :partial => 'compartidos/link_to_admin' %></p>
</div>
</div>