
<h2>Cablecom</h2>
<h3>Registros de acciones</h3>

<% @logs.each_with_index do |log, index| %>
    <table>
        <td><b>Registro <%= index %> .</b></td>
        <td><b>Usuario:</b> <%= log.usuario.login %></td>
        <td><b>Acción:</b> <%= log.accion %></td>
        <td><b>Objeto:</b> <%= log.recurso_type.gsub("Clon", "") %></td>
        <td<b>Fecha:</b> <%= log.fecha_de_creacion.to_s(:short) %></td>
    </table>
    
    <% @objeto = log.recurso %>
    <% if @objeto.instance_of? Paquete %>
        
        <ul font-size:'9px'>
            <li><b>Plaza: </b><%= @objeto.plaza.nombre %></li>
            <li><b>Zona: </b><%= @objeto.zona_ %></li>
            <li><b>Costo (1-10): </b><%= @objeto.costo_primer_mitad_de_mes %></li>
            <li><b>Costo (11-31): </b><%= @objeto.costo_segunda_mitad_de_mes %></li>
            <li><b>Costo Real: </b><%= @objeto.costo_real_ %></li>
            <li><b>Ahorro: </b><%= @objeto.ahorro_ %></li>
            <li><b>Servicios: </b><%= @objeto.servicios_incluídos %></li>
        </ul>
        <br/>
    <% elsif @objeto.instance_of? PaqueteClon %>
    
        <ul font-size:'9px'>
            <li><b>Plaza: </b><%= @objeto.plaza_nombre %></li>
            <li><b>Zona: </b><%= @objeto.zona_nombre %></li>
            <li><b>Costo (1-10): </b><%= @objeto.costo_primer_mitad_de_mes %></li>
            <li><b>Costo (11-31): </b><%= @objeto.costo_segunda_mitad_de_mes %></li>
            <li><b>Costo Real: </b><%= @objeto.costo_real_ %></li>
            <li><b>Ahorro: </b><%= @objeto.ahorro_ %></li>
            <li><b>Servicios: </b><%= @objeto.servicios_incluidos %></li>
        </ul>
        <br/>
    <% elsif @objeto.instance_of? ServicioClon %>
        
        <ul font-size:'9px'>
            <li><b>Plaza: </b><%= @objeto.plaza_nombre %></li>
            <li><b>Metasubservicio: </b><%= @objeto.metasubservicio_nombre %></li>
            <li><b>Metaservicio: </b><%= @objeto.metaservicio_nombre %></li>
            <li><b>Conceptos: </b><%= @objeto.concepto_clones.count %></li>
        </ul>
        
         <% @objeto.concepto_clones.each_with_index do |concepto, index| %>
                <table>
                    <tr>
                        <th width='200px'>Nombre</th>
                        <th width='50px'>Valor</th>
                        <th width='50px'>Costo</th>
                        <th width='50px'>Disponible</th>
                        <th width='300px'>Comentarios</th>

                    </tr>
                    <tr>
                        <td width='200px' align='center'><%= concepto.metaconcepto_nombre %></td>
                        <td width='50px' align='center'><%= concepto.valor_ %></td>
                        <td width='50px' align='center'><%= concepto.costo_ %></td>
                        <td width='50px' align='center'><%= concepto.disponibilidad %></td>
                        <td width='300px' align='center'><%= concepto.comentarios %></td>
                    </tr>
                </table>
            <% end %>
        
    <% elsif @objeto.instance_of? Servicio %>
        
        <ul font-size:'9px'>
            <li><b>Plaza: </b><%= @objeto.plaza_ %></li>
            <li><b>Metasubservicio: </b><%= @objeto.nombre_del_servicio %></li>
            <li><b>Metaservicio: </b><%= @objeto.tipo_de_servicio %></li>
            <li><b>Conceptos: </b><%= @objeto.conceptos.count %></li>
        </ul>
        
        <% @objeto.conceptos.each_with_index do |concepto, index| %>
            <table>
                <tr>
                    <th width='200px'>Nombre</th>
                    <th width='50px'>Valor</th>
                    <th width='50px'>Costo</th>
                    <th width='50px'>Disponible</th>
                    <th width='300px'>Comentarios</th>
                    
                </tr>
                <tr>
                    <td width='200px' align='center'><%= concepto.metaconcepto.nombre %></td>
                    <td width='50px' align='center'><%= concepto.valor_ %></td>
                    <td width='50px' align='center'><%= concepto.costo_ %></td>
                    <td width='50px' align='center'><%= concepto.disponibilidad %></td>
                    <td width='300px' align='center'><%= concepto.comentarios %></td>
                </tr>
            </table>
        <% end %>
        
        
        <br/>
    <% else %>
        <p>El objeto de tipo <%= log.recurso_type %> ya no está disponible.
            Posiblemente haya sido eliminado, y por tanto existe un registro de dicha eliminación.</p>
    <% end %>
        
<% end %>

