<%= javascript_tag "Nifty('#plaza_info');
                    Nifty('#servicios', 'tr');
                    Nifty('#plaza_titulo_paquete', 'bl tl');
                    Nifty('#plaza_titulo_servicio', 'tl');
                    Nifty('#listado_de_preservicios', 'bottom tr');
                    Nifty('#listado_de_prepaquetes', 'bottom tr');
                    Nifty('#paquetes', 'br tr')" %>

<table>
    <tr>
        <td class='plaza_titulo' id='plaza_titulo_paquete'><%= @plaza.nombre %></td>  
        <td class='titulo_en_agente' id='paquetes'><h4>Paquetes</h4></td>                  
    </tr>
</table>

<div id='listado_de_prepaquetes' class='inlined'>
    <%= render :partial => "paquetes/lista_de_paquetes_por_zona" %>
</div>

<div id='plaza_paquetes'></div>

<table>
    <tr>
        <td class='plaza_titulo' id='plaza_titulo_servicio'><%= @plaza.nombre %></td>  
        <td class='titulo_en_agente' id="servicios"><h4>Servicios</h4></td>
    </tr>
</table>

<div id='listado_de_preservicios' class='inlined'>
    <%= render :partial => 'lista_de_metaservicios' %> 
</div>

<div id='plaza_servicios'></div>

