<div class='m_i_modelo_barra'>
    
    <% cuenta, modelo_cuenta = modelo_info(modelo, eval("current_user.plaza.#{modelo.pluralize}.size")) %>
  <table>
    <tr>
        <td style="width:100px; text-align:center;"><p id=<%="cuenta#{modelo.capitalize}"%>><b><%= cuenta %></b></p></td>
        <td style="width:500px; text-align:left;"><p id=<%="sustantivo#{modelo.capitalize}"%>><%= modelo_cuenta %></p></td>
        <td style="width:550px; text-align:right;">
            <%= button_to_remote genero_de(modelo, "Nuevo"), :url => {:controller => modelo.pluralize, :action => 'new'} %>
        </td>
        <td style="width:100px; text-align:center;">
            <%= button_to_remote "Ver todos", :url => {:controller => modelo.pluralize, :action => 'listing'} %>
        </td>
    </tr>
  </table>
</div>