<%= javascript_tag  "Nifty('h3.container_title','top'); Nifty('div#attributes_of_related'); Nifty('div.pagination');" %>

<h3 class='container_title' id='listing_title'><%= modelo.pluralize.capitalize %></h3>

<div class='listing_container'>
    <% if obj_desp.length > 0 %>
        <% obj_desp.each do |obj| %>
            <% hash = obj.to_hashed_html(1) %>
            <div id=<%= "#{obj.class}#{obj.id}"%>>
                <%= render :partial => 'compartidos/modelo_info_comun',:locals => {:hash => hash, :obj => obj} %>
                
                <% if logged_in_on?(["nivel 1", "nivel 2"])%>
                    <%= render :partial => 'compartidos/controles_listado', :locals => {:obj => obj}%>
                <% end %>
            </div>
        <br>
        
        <% end %>
    <% else %>
        <p style="text-align:center;">No hay objetos de tipo <%= modelo.capitalize %> que mostrar</p>
    <% end %>
</div>

<%= will_paginate obj_desp, :renderer => 'RemoteLinkRenderer', :params => {:modelo => modelo, :id => plaza_id}, :previous_label => 'Anterior', :next_label => 'Siguiente' %>