<h3 class='container_title' id='form_title'>Modificar</h3>
<div class='form_container'>

<div class='form'>

<% form_for(@estado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>

</div>

<%= render :partial => 'compartidos/edita_form_links', :locals => {:obj_editable => @estado, :modelo => "estado" } %>
</div>