<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>TuplaPrecio</title>
  <%= stylesheet_link_tag  'niftyCorners', 'shared','administraciones' %>
  <%= javascript_include_tag :defaults, 'niftycube' %>

  <% javascript_tag do %>
    NiftyLoad=function(){
    Nifty("div.header");
    Nifty("div#empresa_header", "bottom");
    Nifty("div.modelo_barra_admin"); 
    Nifty("div.bloque");
    Nifty("div#recordatorio");
    Nifty("div.modelo_relacionado_admin");
    Nifty("div.form_container", "tr bottom");
    Nifty("h3.container_title","top");
    Nifty("th.attribute_name_table");
    Nifty('h2.container_title','top'); 
    }
  <% end %>
  
</head>
<body>
    <div id="wrapper">  
        <div class='header_footer' id='empresa_header'>
            <table class='header_footer_legends'>
                <tr>
                    <td class='left'>Sistema de precios Cablecom</td>
                    <td class='right'>Call Center Nacional Cablecom <i>01800-0303000</i></td>
                </tr>
            </table>
        </div>
        
        <div class="header" id="leftH">
            <%= link_to_remote logged_in_as, :url => {:controller => 'usuarios', 
    	                                              :action => 'detalles_usuario', :id => current_user},
    	                                     :update => "usuario_config", :with => "'read=true'", 
    	                                     :complete => visual_effect(:appear, "usuario_config") %>
    	</div>
    		 
		<div class="header" id="rightH">
		    <%= yield(:rightH) || "<p><b>#{controller.controller_name.singularize.capitalize}</b></p>" %>
		</div>
		
		
		<div id="anuncios">
		    <%= yield(:anuncios_cambiantes) %>
		</div>	    
		 
		<div id="contenedor_izq_admin"> 
            <%= yield(:contenedor_izq_admin) %>
        </div>
        
        <div id="contenedor_der_admin"> 
            <%= yield(:contenedor_der_admin) %>
        </div>
        
        <!--<p style="color: green"><%= flash[:notice] %></p>-->
    </div>

</body>
</html>
