<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>TuplaPrecio</title>
  <%= stylesheet_link_tag 'niftyCorners', 'shared', 'logs' %>
  <%= javascript_include_tag :defaults, 'niftycube' %>

  <% javascript_tag do %>
    NiftyLoad=function(){
    Nifty("div.header");
    Nifty('div.logs_container');
    Nifty('div.notice');
    }
  <% end %>
  
</head>
<body>
    <div id="wrapper">  
        <div class="header" id="leftH">
    	    <%= logged_in_as %>	 
    	</div>
    		 
		<div class="header" id="rightH">
		    <%= yield(:rightH) || "<p><b>#{controller.controller_name.singularize.capitalize}</b></p>" %>
		</div>
		
		<div class="header" id='rightmostH'>
		    <p><%= link_to "Atrás", administraciones_path %></p>
		</div>
		
		<div id="anuncios">
		    <%= yield(:anuncios_cambiantes) %>
		</div>
		 
		<div id="contenedor_izq_admin"> 
            <%= yield(:contenedor_izq_admin) %>
        </div>
        
        <div id="contenedor_der_admin"> 
            <%= yield(:contenedor_der_admin) %>
        </div>
        
        <!--<p style="color: green"><%= flash[:notice] %></p>-->
    </div>

</body>
</html>