<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>TuplaPrecio</title>
  <%= stylesheet_link_tag  'shared', 'sesiones', 'niftyCorners' %>
  <%= javascript_include_tag :defaults, 'niftycube' %>

  <% javascript_tag do %>
      NiftyLoad=function(){
      Nifty("div.header");
      Nifty("div.sesion");
      Nifty("div#footer");
      }
  <% end %>

</head>
<body>
    <div id="wrapper">  
        <div class='header' id='leftH'>
    	    <%= logged_in_as %>	 
    	</div>
    		 
		<div class='header' id='rightH'>
		    <%= yield(:rightH) || "<p><b>#{controller.controller_name.singularize.capitalize}</b></p>" %>
		</div>

		
		<div class='sesion' id='login_box'> 
            <%= yield %>
            <%= image_tag('triple-play-2.png', :size => '400x100', :class => 'amigable') %>
    		
        </div>
        
        <div class='sesion' id='imagenes'>
            <%= image_tag "mapa_mexico.png", :size => '400x400' %>
        </div>
        
        <!--<p style="color: green"><%= flash[:notice] %></p>-->
    </div>
    
    <div id="footer"><div class='in_footer'><p>
        <%= link_to image_tag("valid-xhtml10-blue.png", :border => false), 
                              "http://validator.w3.org/check?uri=referer" %>
    </p></div></div>

</body>
</html>