<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>TuplaPrecio</title>
  <%= stylesheet_link_tag 'shared', 'tableros', 'niftyCorners' %>
  <%= javascript_include_tag :defaults, 'niftycube' %>

  <% javascript_tag do %>
      NiftyLoad=function(){
      Nifty("div.header");
      Nifty("div#sesion");
      Nifty("div#recordatorio");
      Nifty('div.modelo_barra_admin'); 
      Nifty('#barra_estado_plaza_actual');
      Nifty('#servicios');
      Nifty('#paquetes');
      Nifty('#in_footer', 'top');
      }
  <% end %>

</head>
<body>
    <div id="wrapper">  
        <div class='header' id='leftH'>
            <% if current_user.es_encargado? %>
    	    <%= link_to_remote logged_in_as, :url => {:controller => 'usuarios', 
    	                                              :action => 'detalles_usuario', :id => current_user},
    	                                     :update => "usuario_config", :with => "'read=true'", 
    	                                     :complete => visual_effect(:appear, "usuario_config") %>	 
    	    <% else %>
    	        <%= logged_in_as%>	 
    	    <% end %>
    	</div>
    		 
		<div class='header' id='rightH'>
		    <%= yield(:rightH) || "<p><b>#{controller.controller_name.singularize.capitalize}</b></p>" %>
		</div>
		
		<div id='container'> 
            <%= yield %>
        </div>
        
        
    </div>
    <% if current_user.es_agente? %>    
        <div id='body'></div>
        <div id='footer'>
            <div id='in_footer'>
    		    <div id='selector_de_estados' class='header'>
                    <%= yield(:selector_de_estados) %>
                </div>
    		    <div id='barra_de_busqueda' class='header'>
                    <%= yield(:busqueda) %>
        		</div> 
		    </div>
	    </div>
	<% end %>
	

</body>
</html>